* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  box-sizing: border-box;
  background: #c9bcbc;
}

a {
  text-decoration: none;
  color: inherit;
}
